version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'cron'
      cronjob: '* * * * 1/3'

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: 'cron'
      cronjob: '* * * * 1/3'

  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'cron'
      cronjob: '* * * * 1/3'
