name: Clean up

on:
  schedule:
    - cron: "* 0 * * *"

jobs:
  clear_old_versions:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
      GCP_WIF_PROVIDER: ${{ secrets.WIF_PROVIDER }}
      GCP_SA_EMAIL: ${{ secrets.SA_EMAIL }}
      GAE_SERVICE: fastify-template
    steps:
      - id: auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ env.GCP_WIF_PROVIDER }}
          service_account: ${{ env.GCP_SA_EMAIL }}
      - name: "Clear old apps"
        run: |
          VERSIONS=$(gcloud app versions list \
            --format="value(version.id)" \
            --sort-by="~version.createTime" \
            --service="fastify-template" \
            2>/dev/null)
            
          VERSIONS_TO_DELETE=$(echo "$VERSIONS" | tail -n +2)

          if [ -n "$VERSIONS_TO_DELETE" ]; then
              echo "Found versions to delete:"
              echo "$VERSIONS_TO_DELETE"
              echo "$VERSIONS_TO_DELETE" | xargs gcloud app versions delete --quiet
          else
              echo "No old versions found to delete for service fastify-template."
          fi
